body {
    background-color: rgb(13, 151, 0);
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    
}

.gamedisplay {
    margin-left: 200px;
    background-color: rgb(255, 255, 85);
    width: 150px;
    border-style: solid;
    border-width: 5px white;
    
}

button{
    width: 100px;
    font-size: 25px; 
    height: 100px;
    color: #fff;
    background-color: rgb(206, 3, 3);
    border-radius: 50px;
    border-style: outset;
    font-family: 'Orbitron', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom:  0;
}

.game {
    width: 500px;
    height: 350px;
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
}

.mole {
    background: url(mole.png) bottom center no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
    --cursor: pointer;
}

.hole{
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

.hole:after{
    display:block;
    background: url(hole.png) bottom center no-repeat;
    background-size:contain;
    content: '';
    width: 110%;
    height: 90px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.hole.up .mole{
    top:0;
}

.mallet {
    position: absolute;
    z-index: 1000;
    height: 125px;
    top: 0;
    left: 0;
    transform: translate(10px, px)
}

.score{
    color: rgb(0, 0, 0);  
}

    
